name: Mobile-One-Click-Start
on:
  workflow_dispatch:

jobs:
  run-claw:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "18"
      - name: Install & Run
        run: |
          npm install
          node openclaw.mjs gateway
        env:
          DISCORD_TOKEN: 39c63cce76139056bead9652a7bf1633acc1cf7ed9134448
